body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.navbar ul{
    border: 1px solid black;
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin-right: 40px;
}


.navbar a {
    text-decoration: none;
    list-style: hidden;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    flex-shrink: 0;
}

.logo {
    color: whitesmoke;
    padding: 15px;
    background-color: whitesmoke;
    /* transform: rotate(-10deg); */
}

.logowrapper {
    background-color: rgb(252, 9, 9);
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    transform: rotate(-10deg);
}

.about {
    color: white;
    background-color: rgb(253, 18, 18);
    margin-top: -20px;
    padding: 150px;
    text-align: center;
}

.menu {
    color: red;
    background-color: whitesmoke;
    margin-top: -19px;
    text-align: center;
}

.call2action {
    color: whitesmoke;
    background-color: red;
    margin-top: -20px;
    text-align: center;
    padding: 5px 0 10px 0;
}

button {
    color: red;
    line-height: 10px;
    font-size: 20px;
    padding: 10px;
}

.spaced-paragraph {
    line-height: 1.5;
}

footer {
    text-align: center;
    color: white;
    background-color: red;
    padding: 20px;
    font-size:10px;
}